<footer>
	<div class="contacto">
	  <p>Correo electrónico:
		<a class="email" href="smarttech@gmail.com">ventas-smarttech@gmail.com</a> - Teléfono: <span>+54 (011) 2563-9193</span></p>
	</div>
	<div class="redes">
	  <div>
		<a href="http://www.facebook.com"
		  ><img src="static/img/redes/facebook.png" alt="Facebook"
		/></a>
	  </div>
	  <div>
		<a href="http://www.instagram.com"
		  ><img src="static/img/redes/instagram.png" alt="Instagram"
		/></a>
	  </div>
	  <div>
		<a href="http://www.linkedin.com"
		  ><img src="static/img/redes/linkedin.png" alt="LinkedIn"
		/></a>
	  </div>
	</div>
	<p>©Todos los derechos reservados</p>
  </footer>

  <script src="static/js/script.js"></script>
</body>
</html>
