<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Tienda Smart Tech</title>
	<link rel="stylesheet" href="/static/css/styles.css" />
</head>

<body>
	<header>
		<nav>
			<div class="logo"><img src="/static/img/logo.png" alt="logo" width="300px" height="60px"></div>
			<div class="nav-menu">
			<h4><a href="/" class="boton_enc">Inicio</a></h4>
		</div>
		<div class="nav-menu">
			<h4><a href="/historia" class="boton_enc">Historia</a></h4>
		</div>
		<div class="nav-menu">
			<h4><a href="/medios_pago" class="boton_enc">Medios de Pago</a></h4>
		</div>
		<div class="nav-menu">
			<h4>
				<a href="/registro_consultas" class="boton_enc">Consultas</a>
			</h4>
		</div>
		<div class="cart-icon" onclick="openCart()">
			<span id="cart-count">0</span>🛒
		</div>
	</nav>
</header>
