{% include 'header.html' %}

<div class="historia">
	<h2>Nuestra historia</h2>
	<p class="history">
		Smart Tech nació en 2010 de la mano de un grupo de apasionados por la tecnología, quienes vieron la oportunidad de acercar productos innovadores y de alta calidad al mercado. Iniciamos en un pequeño local en el centro de la ciudad, con el sueño de convertirnos en líderes del sector. Gracias al compromiso y la dedicación de nuestro equipo, hemos crecido exponencialmente, expandiendo nuestra presencia tanto en tiendas físicas como en línea. Hoy en día, Smart Tech se ha consolidado como un referente en el mundo de la tecnología, ofreciendo una amplia gama de productos que incluyen desde dispositivos móviles hasta equipos de última generación para el hogar y la oficina.
	</p>

	<h2>Nuestra visión</h2>
	<p class="history">
		Nuestra visión es ser la empresa líder en la provisión de soluciones tecnológicas, reconocida por nuestra capacidad de innovación, calidad de servicio y compromiso con la satisfacción del cliente. Aspiramos a estar a la vanguardia del avance tecnológico, anticipándonos a las necesidades del mercado y ofreciendo productos que mejoren la vida de las personas y potencien el crecimiento de las empresas.
	</p>

	<h2>Nuestra misión</h2>
	<p class="history">
		En Smart Tech, nuestra misión es ofrecer productos tecnológicos de alta calidad y servicios excepcionales que superen las expectativas de nuestros clientes. Nos comprometemos a proporcionar una experiencia de compra única, respaldada por un equipo de expertos que brinda asesoramiento personalizado. Creemos en la tecnología como una herramienta para el progreso y la mejora continua, y trabajamos para que nuestros clientes puedan acceder a las últimas innovaciones de manera fácil y accesible.
	</p>
</div>

{% include 'footer.html' %}
