{% include 'header.html' %}

<h2 class="h_dos" id="h_pago">Medios de Pago disponibles</h2>

<div class="grid-pago">
	<button><a href="/modificar/0">Nuevo Medio de Pago</a></button>
	<div class="grid-container">
	   
        <div class="grid-header">Medios de Pago</div>
        <div class="grid-header">Descuento</div>
        <div class="grid-header">Acciones</div>

        {% for mp in mps %}
            <div class="grid-item {% if mp.3 != 'clase' %}{{ mp.3 }}{% else %}nuevo{% endif %}">{{ mp.1 }}</div>
							 
																	   
			   
																	
				
            <div class="grid-item mov">{{ mp.2 }}%</div>
            <div class="grid-item">
                <button><a href="/modificar/{{mp.0}}">Modificar</a></button>
                <button><a href="/eliminar/{{mp.0}}" onclick="return confirm('Esta seguro?')">Eliminar</a></button>
            </div>
		 
        {% endfor %}
		  
    </div>
</div>

{% include 'footer.html' %}
